VITE_API_BASE_URL=https://gb-est-api-production-5a53612aa0b9.herokuapp.com
VITE_MAPBOX_TOKEN=
VITE_APP_ENV=development
VITE_API_DOCS_URL=https://gb-est-api-production-5a53612aa0b9.herokuapp.com/docs.json
